<style>
  /* TGAS */
  table {
    text-align: center;
    margin: 0 auto;
    width: 80%;
    border: 1px solid;
  }
  td {
    padding: 5px;
    padding-top: 10px;
  }
  b {
    font-size: 18px;
  }
  select {
    font-size: 18px;
    margin-right: 2px;
  }
  input {
    margin-right: 10px;
    font-size: 14;
  }

  /* CLASSES */
  .titulo {
    background-color: red;
    font-size: larger;
    color: #fff;
  }
  .topicos {
    background-color: grey;
  }
  /* IDS */
  #gravar {
    font-size: 24px;
  }
  .footer {
    text-align: center;
    margin-top: 4rem;
  }
</style>

<!-- Toolbar -->
<div class="teste">
  <body>
    <form method="POST" id="pesquisa" name="pesquisa">
      <table class="table bg-branco input-min" cellspacing="0" cellpadding="0">
        <tbody>
          <tr>
            <td class="titulo" colspan="2">Avaliação</td>
          </tr>
          <tr>
            <td class="topicos" colspan="2">
              <b>Empresa: </b>
              <select name="empresa" id="empresa" class="empresa">
                <option value="6" selected>JAMSOFT</option>
                <option value="7">Casas Bahia</option>
                <option value="8">MSobral</option>
                <option value="9">Casa Barbosa</option>
                <option value="10">Lindolar</option>
                <option value="11">teste</option>
                <option value="12">teste</option>
                <option value="13">123</option>
                <option value="14">TESTE2</option>
                <option value="15">testecomobs</option>
                <option value="16">Jamsoft</option>
                <option value="17">Raffael Coisa Linda</option>
                <option value="18">teste</option>
                <option value="19">dasdasda</option>
                <option value="20">Elias</option>
                <option value="21">Eliseu</option>
                <option value="22">Linux</option>
                <option value="23">Apple</option>
                <option value="24">Windows</option>
                <option value="25">Magazine do Arrocha</option>
                <option value="26">Luiza Pereira</option>
                <option value="18">IFS - Lagarto</option>
              </select>
              <input type="submit" value="+" />
              <input id="pesquisa" type="text" name="pesquisa" />
            </td>
          </tr>
          <tr>
            <td>
              <h2>
                <span>*</span>
              </h2>
              <textarea
                name="obs"
                id="obs"
                cols="150"
                rows="20"
                placeholder="observações aqui"
              ></textarea>
            </td>
          </tr>
          <tr>
            <td>
              <input id="gravar" type="submit" value="Gravar" name="Gravar" />
            </td>
          </tr>
        </tbody>
      </table>
    </form>
    <div class="footer">
      <p>
        O projeto tem o objetivo de cadastrar empresa e uma observação para cada
        empresa.
      </p>
      <p>
        O usuário também precisa ter a opção de pesquisar e o sistema deve
        avisar se existe o texto pesquisado na observação.
      </p>
    </div>
  </body>
</div>

<router-outlet></router-outlet>
